# Configuration to be set by node owners
EMAIL=a@a.com
CONTENT_SERVER_STORAGE=./storage
CATALYST_URL=http://localhost

# External LiveKit service for low latency comms
# Leave blank in case no service is provided
LIVEKIT_URL=wss://livekit.decentraland.example
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

# WS comms service for development
# Leave blank in case it is not needed
WS_ROOM_SERVICE_URL=wss://peer.decentraland.example/bff/ws-rooms
WS_ROOM_SERVICE_SECRET=