rewrite_log on;

include /etc/nginx/include/upstream.conf;
include /etc/nginx/include/rates.conf;

# Maps ip address to $user_identifier variable if request is of type GET
map $request_method $user_identifier {
    'GET'       $http_x_forwarded_for;
    default     '';
}

server {
    listen 80 reuseport;
    
    server_name $katalyst_host;
    client_max_body_size 256M;

    root /etc/nginx/html;
    
    include /etc/nginx/include/routes.conf;
    include /etc/nginx/include/metrics.conf;
}
