name: ci validations

on: push
jobs:
  test-localhost:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        catalyst_url:
          - http://localhost
          # - https://localhost.decentraland.services
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: create env files ${{ matrix.catalyst_url }}
        run: |
          mkdir -p /opt/catalyst-storage
          cat <<EOF > .env
            EMAIL=developers@decentraland.org
            CONTENT_SERVER_STORAGE=/opt/catalyst-storage
            CATALYST_URL=${{ matrix.catalyst_url }}
          EOF
          cat <<EOF > .env-advanced
            ETH_NETWORK=ropsten
            REGENERATE=0
            LOG_LEVEL=debug
            METRICS=true
          EOF

      - name: replacing syslog for default driver and print diff
        run: |
          cp docker-compose.yml docker-compose.yml.bak
          sed "s/syslog/local/g" docker-compose.yml.bak > docker-compose.yml
          cp docker-compose.yml docker-compose.yml.bak
          sed "s/options: {.*}//g" docker-compose.yml.bak > docker-compose.yml
          git diff docker-compose.yml

      - name: run init.sh
        run: ./init.sh

      - name: cat .env*
        run: |
          for d in .env* ; do
            echo "> printing $d"
            cat $d
          done

      - name: wait for nginx
        timeout-minutes: 2
        run: |
          docker container ls
          docker-compose logs

          until ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }} 200; do
            echo "Retrying in 10 seconds..."
            docker-compose logs nginx
            sleep 10
          done

      - name: wait for comms
        timeout-minutes: 2
        run: |
          until ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/comms/layers 200; do
            echo "Retrying in 10 seconds..."
            docker-compose logs comms-server
            sleep 10
          done

      - name: wait for content
        timeout-minutes: 2
        run: |
          until ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/content/status 200; do
            echo "Retrying in 10 seconds..."
            docker-compose logs content-server
            sleep 10
          done

      - name: wait for lambdas
        timeout-minutes: 2
        run: |
          until ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/lambdas/status 200; do
            echo "Retrying in 10 seconds..."
            docker-compose logs lambdas
            sleep 10
          done

      - name: wait for auth
        timeout-minutes: 10
        run: |
          until ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/pow-auth/challenge 200; do
            echo "Retrying in 10 seconds..."
            docker-compose logs auth
            sleep 2
          done

      - name: test system_metrics auth, must be 401
        if: ${{ always() }}
        run: ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/system_metrics 401
      - name: test postgres_metrics auth, must be 401
        if: ${{ always() }}
        run: ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/postgres_metrics 401
      - name: test node_metrics auth, must be 401
        if: ${{ always() }}
        run: ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/node_metrics 401

      - name: add a user to enable system metrics
        if: ${{ always() }}
        run: htpasswd -bc local/nginx/auth/.htpasswd-system test-user test-password

      - name: test system_metrics auth, must be 200
        if: ${{ always() }}
        run: ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/system_metrics 200 -u test-user:test-password
      - name: test postgres_metrics auth, must be 200
        if: ${{ always() }}
        run: ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/postgres_metrics 200 -u test-user:test-password
      - name: test node_metrics auth, must be 200
        if: ${{ always() }}
        run: ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/node_metrics 200 -u test-user:test-password

      - name: test comms_metrics auth, must be 401
        if: ${{ always() }}
        run: ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/comms_metrics 401
      - name: test pow_auth_metrics auth, must be 401
        if: ${{ always() }}
        run: ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/pow_auth_metrics 401
      - name: test lambdas_metrics auth, must be 401
        if: ${{ always() }}
        run: ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/lambdas_metrics 401
      - name: test content_metrics auth, must be 401
        if: ${{ always() }}
        run: ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/content_metrics 401


      - name: add a user to enable metrics
        if: ${{ always() }}
        run: htpasswd -bc local/nginx/auth/.htpasswd-metrics test-user2 test-password2

      - name: test comms_metrics auth, must be 200
        if: ${{ always() }}
        run: ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/comms_metrics 200 -u test-user2:test-password2
      - name: test pow_auth_metrics auth, must be 200
        if: ${{ always() }}
        run: ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/pow_auth_metrics 200 -u test-user2:test-password2
      - name: test lambdas_metrics auth, must be 200
        if: ${{ always() }}
        run: ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/lambdas_metrics 200 -u test-user2:test-password2
      - name: test content_metrics auth, must be 200
        if: ${{ always() }}
        run: ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/content_metrics 200 -u test-user2:test-password2


      - name: smoke test endpoints
        if: ${{ always() }}
        run: |
          ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/lambdas/status 200
          ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/comms/layers 200
          ./.github/workflows/check-http-status-code.sh ${{ matrix.catalyst_url }}/content/status 200

      - name: fetch content server with JWT
        run: ./.github/workflows/fetch_with_jwt.sh ${{ matrix.catalyst_url }}/pow-auth/challenge ${{ matrix.catalyst_url }}/content/status 200
      - name: fetch content server with invalid JWT
        run: ./.github/workflows/fetch_with_invalid_jwt.sh ${{ matrix.catalyst_url }}/content/status 200

      - name: fetch lambdas server with JWT
        run: ./.github/workflows/fetch_with_jwt.sh ${{ matrix.catalyst_url }}/pow-auth/challenge ${{ matrix.catalyst_url }}/lambdas/status 200
      - name: fetch lambdas server with invalid JWT
        run: ./.github/workflows/fetch_with_invalid_jwt.sh ${{ matrix.catalyst_url }}/lambdas/status 200

      - name: fetch comms with JWT
        run: ./.github/workflows/fetch_with_jwt.sh ${{ matrix.catalyst_url }}/pow-auth/challenge ${{ matrix.catalyst_url }}/comms/layers 200
      - name: fetch comms with invalid JWT
        run: ./.github/workflows/fetch_with_invalid_jwt.sh ${{ matrix.catalyst_url }}/comms/layers 200

      - name: run stop.sh
        if: ${{ always() }}
        run: ./stop.sh

      - name: print syslog
        if: ${{ always() }}
        run: |
          docker container ls
          docker-compose logs
          tail -n 5000 /var/log/syslog
